// BREAKPOINTS PARA DISPOSITIVOS PORTATILES
// Estilos para dispositivos de hasta 1024px
@media only screen and (max-width: 1024px) {

}

// BREAKPOINT PARA TABLETS Y ORDENADORES
// Estilos para dispositivos de como minimo 1024px
@media only screen and (min-width: 1024px) {
    
    .profileContainer {
        display: flex;
        flex-direction: column;
        //align-items: center;
        background: blueviolet;
        height: 100vh;
        width: 100vw;
    }

    .nullProfile1 {
        background: burlywood;
        height: 10vh;
        width: 100vw;
    }

    
    .controlPanel {
        background: yellow;
        border: black solid 0.1em;
        //height: 80%;
        //width: 50%;

        height: 100%;
        width: 100%;
    }

}