// BREAKPOINTS PARA DISPOSITIVOS PORTATILES
// Estilos para dispositivos de hasta 1024px
@media only screen and (max-width: 1024px) {

}

// BREAKPOINT PARA TABLETS Y ORDENADORES
// Estilos para dispositivos de como minimo 1024px
@media only screen and (min-width: 1024px) {
    
    .profile-container {
        display: flex;
        flex-direction: column;
        //align-items: center;
        background: blueviolet;
        min-height: 81vh;
        min-width: 100%;
    }
    
    .control-panel {
        background: white;
        min-height: 81vh;
        min-width: 100%;
    }

    .nullProfile1 {
        background: white;
        min-height: 7.5vh;
        min-width: 100%;
    }

    .option-panel {
        min-height: 73.5vh;
        min-width: 100%;
    }
}