// BREAKPOINT PARA DISPOSITIVOS PORTATILES
// Estilos para dispositivos con pantallas de hasta 1024px
@media only screen and (max-width: 1024px) {

}

// BREAKPOINT PARA TABLETS Y ORDENADORES
// Estilos para dispositivos como minimo con pantallas de 1024px
@media only screen and (min-width: 1024px) {
    .panelContainer {
        background-color: yellow;
        border: black solid 2px;
        border-radius: 4px;
        height: 60%;
        width: 60%;
    }

    .infoContainer {
        display: flex;
        flex-direction: row;
        height: 15%;
        width: 100%;
    }

    .panelName {
        background: yellowgreen;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 100%;
        width: 60%;
    }

    .panelDate {
        background: whitesmoke;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 100%;
        width: 40%;
    }

    .adminPanel {
        display: flex;
        flex-direction: row;
        height: 85%;
        width: 100%;

    }

    .adminOptions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 50%;
    }

    .employeesPanel {
        height: 30%;
        width: 50%;
    }
    
    .workPanel {
        height: 30%;
        width: 50%;
    }

    .selectPanel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50%;
        width: 50%;
    }

    li {
        list-style: none;
    }

    .prueba {
        height: 100%;
        width: 50%;
    }
}