.button-container {
    max-height: 15vh;
    min-width: 15%;
}

.search-button {
    background-color: #252a34;
    color: #eaeaea;
    border: none;
    border-radius: 10px;
    min-height: 3.5vh;
    min-width: 7.5vw;
}