.search-container {
    flex: 0 0 50%;
    max-width: 50%;
}

.button-container {
    max-height: 15vh;
    min-width: 15%;
}

.search-button {
    background-color: #252a34;
    color: #eaeaea;
    border: none;
    border-radius: 10px;
    min-height: 3.5vh;
    min-width: 7.5vw;
}

#error-search {
    max-height: 2vh;
    max-width: 2.5vw;
}