.register-form {
    max-height: 72vh;
    min-width: 80%;
}

#form-title {
    padding: 1%;
}

.form-control {
    max-height: 5vh;
}

.register-button {
    background: #ff2e63;
    color: white;
    border: black solid 1px;
    border-radius: 6px;
    min-height: 5vh;
    max-width: 25%;
}