// Breakpoint para moviles
@mixin mobile {
  @media (min-width: 576px) {
      @content;
  }
}

// Breakpoint para tablets
@mixin landscape-mobile {
  @media (min-width: 736px) {
      @content;
  }
}

// Breakpoint para tablets apaisadas
@mixin landscape-tablet {
  @media (min-width: 992px) {
      @content;
  }
}

// Breakpoint para portatiles u ordenadores de sobremesa
@mixin desktop {
  @media (min-width: 1200px) {
      @content;
  }
}

.sidebar-container {
  background-color: transparent;
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  @include landscape-mobile {
    height: 100%;
    width: 20%;
    align-items: center;
    justify-content: center;
  }
  @include landscape-tablet {
    height: 100%;
    width: 20%;
    align-items: center;
    justify-content: center;
  }
  @include desktop {
    height: 100%;
    width: 20%;
    align-items: center;
    justify-content: start;
  }
}
  
// Iconos que activan o cierran el Sidebar
.sidebar-icon {
  font-size: xx-large;
  @include desktop {
    margin-left: 15%;
  }
}

.sidebar-icon-active {
  font-size: xx-large;
  margin-left: 35%;
  @include desktop {
    margin-left: 15%;
  }
}
  
// Cuerpo del Sidebar
.sidebar-menu {
  background-color: white;
  height: 100vh;
  width: 40%;
  display: flex;
  justify-content: center;
  top: 0;
  position: fixed;
  left: -100%;
  transition: 850ms;
}
  
.sidebar-menu.active {
  width: 40%;
  left: 0;
  transition: 400ms;
  @include landscape-mobile {
    width: 25%;
  }
}

// Lista de los items del Sidebar
.sidebar-menu-items {
  width: 100%;
  padding: 0%;
  margin: 0%;
}
  
.sidebar-toggle {
  background-color: white;
  width: 100%;
  height: 14%;
  display: flex;
  justify-content: start;
  align-items: center;
}

// Contenido del Sidebar
.nav-icons {
  display: flex;
  justify-content: start;
  align-items: center;
  list-style: none;
  height: 3em;
}
  
  .nav-icons a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1em;
    border-radius: 4px;
  }
  
  .nav-icons a:hover {
    color: #1a83ff;
    //background-color: #1a83ff;
  }
  
span {
  margin-left: 1em;
}

