// BREAKPOINT PARA DISPOSITIVOS PORTATILES
// Estilos para dispositivos moviles de hasta 1024px
@media only screen and (max-width: 1024px) {

    // Contenedor principal
    .headerContainer {
        background-color: #222831;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 12vh;
        width: 100vw;
    }

    // Contenedor del logo
    .headerLogo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5%;
        height: 50%;
        width: 15%;
    }
    
    .logoLink {
       color:#ffd369;
       text-decoration: none;
   }

    // Caja vacia
    .nullSpace1 {
        background: #222831;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 60%;
    }
};

// BREAKPOINT PARA TABLETS APAISADAS Y ORDENADORES
// Estilos para dispositivos como minimo de 1024px
    @media only screen and (min-width: 1024px) {
    .headerContainer {
        background-color:  #222831;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 9vh;
        width: 100vw;
    }

    .headerLogo {
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;
        width: 10%;
        margin-left: 5%;
        
    }
    
    .logoLink {
        color: #ffd369;
        font-size: large;
        text-decoration: none;
    }

    .nullSpace1 {
        background:  #222831;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 40%;
    }
}